@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

.itemList ul li{
    display: flex;
    
    /* margin: 2px;
    padding: 2px; */
    border: 3px solid rgb(0, 0, 0);
    font-family: 'Shojumaru', cursive;
    color: rgb(0, 0, 0);
    /* width: 1700px; */
    background-color: rgba(80, 80, 80, 0.384);
}

.itemList ul{
    height: 761px; width: 1800px;
    /* overflow:hidden; 
    overflow-y:scroll; */

    background-color: rgba(27, 27, 27, 0.247);
}

.itemName,.itemDescription, .itemRarity, .itemValue, .itemCarryLimit {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);

    width: 200px;
    height: 60px;
    text-align: center;
}
.itemDescription{
    width: 500px;
}
