@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

.small_monsters{
    font-family: 'Shojumaru', cursive;
    float: left;
    padding-left: 650px;
}

.large_monsters{
    font-family: 'Shojumaru', cursive;
    float: right;
    padding-right: 650px;
}

.monsterInfo ul li{
    display: flex;

    margin: 2px;
    padding: 2px;
    border: 3px solid rgb(0, 0, 0);
    font-family: 'Shojumaru', cursive;
    color: rgb(0, 0, 0);
    /* width: 1700px; */

    background-color: rgba(80, 80, 80, 0.253);
}

.monsterInfo ul{
    height: 761px; width: 1800px;
    /* overflow:hidden; 
    overflow-y:scroll; */

    background-color: rgba(27, 27, 27, 0.247);
}

.monsterName {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);

    width: 200px;
    /* height: 50px; */
    text-align: center;
}

.monsterType {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 200px;
    /* height: 50px; */
    text-align: center;
}

.monsterSpecies {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 200px;
    /* height: 50px; */
    text-align: center;
}

.monsterDescription {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 1250px;
    /* height: 50px; */
    text-align: center;

        /* overflow:hidden; 
        overflow-y:scroll; */
}