@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

html {
    /* background-color: rgb(97, 97, 97); */
    background-image: url("../assests/background.jpg");
    align-self: stretch;
    background-size: cover;
    background-repeat: no-repeat;
}

html, 
body, 
#background { 
    width: 100vw;
    min-height: 100vh;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    background-color: #cca572e3;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

/* Style the search box inside the navigation bar */


body {
    margin: 0;
    padding: 0;
    /* background-color: #e0e0e07a; */
    background-color: #d489ff48;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: small;
    width: 100%;
    background-color: #cca572e3;
    /* border: 5px solid black; */
    padding: 1px;
    /* margin: 10px; */
    /* display: flex;
    flex-direction: row; */
}

footer p {
    font-family: 'Shojumaru', cursive;
}



.small_monsters{
    font-family: 'Shojumaru', cursive;
    float: left;
    padding-left: 650px;
}

.large_monsters{
    font-family: 'Shojumaru', cursive;
    float: right;
    padding-right: 650px;
}

.monsterInfo ul li{
    display: flex;

    margin: 2px;
    padding: 2px;
    border: 3px solid rgb(0, 0, 0);
    font-family: 'Shojumaru', cursive;
    color: rgb(0, 0, 0);
    width: 1700px;

    background-color: rgba(80, 80, 80, 0.253);
}

.monsterInfo ul{
    height: 761px; width: 1800px;
    overflow:hidden; overflow-y:scroll;

    background-color: rgba(27, 27, 27, 0.247);
}

.itemList ul li{
    display: flex;

    margin: 2px;
    padding: 2px;
    border: 3px solid rgb(0, 0, 0);
    font-family: 'Shojumaru', cursive;
    color: rgb(0, 0, 0);
    width: 1700px;
    background-color: rgba(80, 80, 80, 0.384);
}

.itemList ul{
    height: 761px; width: 1800px;
    overflow:hidden; overflow-y:scroll;

    background-color: rgba(27, 27, 27, 0.247);
}

.monsterName {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);

    width: 200px;
    height: 50px;
    text-align: center;
}

.monsterType {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 200px;
    height: 50px;
    text-align: center;
}

.monsterSpecies {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 200px;
    height: 50px;
    text-align: center;
}

.monsterDescription {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 1250px;
    height: 50px;
    text-align: center;

        overflow:hidden; overflow-y:scroll;
}

.itemName {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);

    width: 200px;
    height: 50px;
    text-align: center;
}

.itemRarity {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 200px;
    height: 50px;
    text-align: center;
}

.itemValue {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 200px;
    height: 50px;
    text-align: center;
}

.itemDescription {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 1250px;
    height: 50px;
    text-align: center;
}

.localeList ul li{
    display: flex;

    margin: 2px;
    padding: 2px;
    border: 3px solid rgb(0, 0, 0);
    font-family: 'Shojumaru', cursive;
    color: rgb(0, 0, 0);
    width: 1700px;
    background-color: rgba(80, 80, 80, 0.384);
}

.localeList ul{
    height: 761px; width: 1800px;
    overflow:hidden; overflow-y:scroll;

    background-color: rgba(27, 27, 27, 0.247);
}

.localeName {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 200px;
    height: 50px;
    text-align: center;
}

.localeZones {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 200px;
    height: 50px;
    text-align: center;
}

.localeCamps {
    margin: 2px;
    padding: 2px;

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.815);
    width: 1250px;
    height: 50px;
    text-align: center;
}
