@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

html {
    /* background-color: rgb(97, 97, 97); */
    background-image: url("../assests/background.jpg");
    align-self: stretch;
    background-size: cover;
    background-repeat: no-repeat;
}

html, 
body, 
#background { 
    width: 100vw;
    min-height: 100vh;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    background-color: #cca572e3;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

/* Style the search box inside the navigation bar */
.search{
    
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #e0e0e07a; */
    background-color: #d489ff48;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: small;
    width: 100%;
    background-color: #cca572e3;
    /* border: 5px solid black; */
    padding: 1px;
    /* margin: 10px; */
    /* display: flex;
    flex-direction: row; */
}

footer p {
    font-family: 'Shojumaru', cursive;
}
